#about_me {
    background-color: var(--secondary-color);
}

.about_me__img {
    width: 500px;
    max-width: 90%;
    border: 15px solid var(--text-color);
    margin: 25px;
}

.about_me__text {
    width: 750px;
    max-width: 90%;
}

.about_me__text h2 {
    padding-bottom: 25px;
}

.logo__container {
    margin-top: 25px;
    justify-content: space-evenly;
}

.logo__container .circle-icon {
    background-color: var(--primary-color);
}

@media(max-width: 1600px) {
    .about_me__img {
        width: 400px;
    }
    .about_me__text {
        width: 650px;
    }
}

@media(max-width: 800px) {
    .about_me__text {
        padding: 25px 0;
        max-width: 100%;
    }

    .about_me__img {
        margin-top: 0;
    }
}