#portfolio {
    padding: 100px 0 50px 0;
    font-size: 16px;
    background-color: var(--primary-color);
}

#portfolio #project .logo__container .circle-icon,
#portfolio section:nth-of-type(2n) {
    background-color: var(--secondary-color);
}

#portfolio #project,
#portfolio section:nth-of-type(2n) .logo__container .circle-icon {
    background-color: var(--primary-color);
}

#portfolio section {
    padding: 100px 25px;
}

#portfolio h2 {
    margin-top: 50px;
}

#portfolio .info {
    padding: 0 25px;
}

#portfolio section .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#portfolio section:nth-child(2n) .content {
    flex-wrap: wrap-reverse;
}

.img__container {
    flex-direction: column; 
    gap: 40px;
}

.hover-img img {
    width: 100%;
    max-width: 680px;
    height: auto;
    max-height: 500px;
}

.img--single img {
    max-width: 900px;
    max-height: 600px;
}

#portfolio section .text {
    width: 680px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

#portfolio .portfolio--heading {
    text-align: center;
}

#portfolio section .headings {
    padding: 10px 0;
}

#portfolio section .secondary--heading {
    padding: 0 10px;
    margin: 5px 0;
    width: fit-content;
    color: var(--primary-color);
    background: var(--text-color);
}

.headings h3, 
.portfolio--heading h2 {
    color: var(--main-color);
}

.headings h4, .portfolio--heading h4 {
    color: var(--secondary-text-color);
}

.cr-colored {
    padding-top: 50px;
    background-color: var(--secondary-color);
}

.btn--centered {
    margin: 25px auto 0 auto;
}

.info__btn {
    margin: 40px 0;
}

.more_info {
    text-align: center;
    margin: 20px 0;
}

@media(max-width: 1600px) {
    body {
        font-size: 16px;
    }

    #portfolio section .content {
        gap: 20px;
    }

    .img__container {
        gap: 20px;
    }

    .hover-img img {
        max-width: 500px;
        max-height: 350px;
    }

    .hover-img--text img {
        max-width: 680px;
        max-height: 500px;
    }
}

@media(max-width: 800px) {
    #portfolio {
        font-size: 16px;
    }

    #portfolio section {
        padding: 50px 25px; 
    }

    .project__text {
        max-width: 100%;
    }

    .info__btn {
        margin: 0;
    }

    .cr-colored {
        padding-top: 25px;
    }
}