.portfolio {
    padding-bottom: 50px;
    font-size: 16px;
    background-color: var(--primary-color);
}

.portfolio #project .logo__container .circle-icon,
.portfolio section:nth-of-type(2n) {
    background-color: var(--secondary-color);
}

.portfolio #project,
.portfolio section:nth-of-type(2n) .logo__container .circle-icon {
    background-color: var(--primary-color);
}

.portfolio section {
    padding: 100px 25px;
    min-height: 100vh;
    box-sizing: border-box;
}

.portfolio .info {
    padding: 0 25px;
}

.portfolio section .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#portfolio section:nth-child(2n) .content,
#trilum section:nth-child(2n) .content, 
#velvet-mite section .content {
    flex-wrap: wrap-reverse;
}

.img__container {
    flex-direction: column; 
    gap: 40px;
}

.hover-img img {
    width: 100%;
    max-width: 680px;
    height: auto;
    max-height: 500px;
}

.img--single img {
    max-width: 900px;
    max-height: 600px;
}

.portfolio section .text {
    max-width: 680px;
    margin: auto 0;
}

.portfolio--heading {
    text-align: center;
    margin-bottom: 100px;
}

.portfolio section .headings {
    padding: 10px 0;
}

.portfolio section:nth-of-type(2n) .secondary--heading {
    color: var(--secondary-color);
}

.portfolio section:nth-of-type(2n+1) .secondary--heading {
    color: var(--primary-color);
}

.portfolio section .secondary--heading {
    padding: 0 10px;
    margin: 5px 0;
    width: fit-content;
    background: var(--text-color);
}

.headings h3, 
.primary-project-heading {
    color: var(--main-color);
}

.primary-portfolio-heading {
    width: fit-content; 
    margin: auto; 
    padding: 0 10px; 
    background: var(--main-color);
    color: var(--primary-color);
}

.headings h4, .portfolio--heading h4 {
    color: var(--secondary-text-color);
}

.cr-colored {
    padding-top: 50px;
    background-color: var(--secondary-color);
}

.btn--centered {
    margin: 25px auto 0 auto;
}

.info__btn {
    margin: 40px 0;
}

.more_info {
    text-align: center;
    margin: 20px 0;
}

.list {
    list-style-position: inside;
}

#list {
    padding: 0 25px;
}

#list span {
    color: var(--secondary-text-color);
}

@media(max-width: 1600px) {
    body {
        font-size: 16px;
    }

    .portfolio section .content {
        gap: 20px;
    }

    .img__container {
        gap: 20px;
    }

    .hover-img img {
        max-width: 500px;
        max-height: 350px;
    }

    .hover-img--text img {
        max-width: 680px;
        max-height: 500px;
    }
}

@media(max-width: 800px) {
    .portfolio {
        font-size: 16px;
        padding: 50px 0;
    }

    .portfolio section {
        padding: 50px 25px; 
    }

    .portfolio--heading {
        margin-bottom: 50px;
    }

    .project__text {
        max-width: 100%;
    }

    .info__btn {
        margin: 0;
    }

    .cr-colored {
        padding-top: 25px;
    }
}