#projects h2 {
    margin: 25px 0;
}

.flex_container {
    max-width: 1330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 350px;
    max-width: 90%;
}

.hover-img img {
    object-fit: cover;
    display: block;
    width: 100%;
    max-height: 100%;
}

.flex_container a {
    color: var(--text-color);
}

.flex_container a:hover {
    color: var(--main-color);
}

@media(max-width: 1600px) {
    .card h3 {
        font-size: clamp(16px, 4vw, 24px);
    }
}

@media(max-width: 800px) {
    .card {
        width: 100%;
        max-width: 350px;
    }
}