#projects {
    min-height: 100%;
    max-width: 1330px;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

#projects h2 {
    margin-top: 50px;
}

.flex_container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 350px;
    max-width: calc(90% - 40px);
    border-radius: 100px;
    padding: 80px 20px;
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card * {
    text-align: center;
}

.flex_container a {
    color: var(--text-color);
}

.flex_container a:hover {
    color: var(--main-color);
}

@media(max-width: 800px) {
    .card {
        max-width: calc(90% - 90px);
        padding: 60px 20px;
    }
}