@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #337eff;
  --primary-color: #0E1628;
  --secondary-color: #16223E;
  --light-secondary-color: #1E2A49;
  --text-color: white;
  --secondary-text-color: #C6C9D2;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 100px;
  line-height: 115%;
}

h2 {
  font-size: 50px;
  text-align: center;
}

h3 {
  font-size: 30px;
}

.subheading {
  margin-top: 25px;
  color: var(--secondary-text-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
  line-height: 175%;
}

section {
  margin: 0 auto;
  padding: 50px 25px;
  box-sizing: border-box;
  transform: translateY(-48px);
  background-color: var(--secondary-color);
  flex-wrap: wrap-reverse;
}

a {
  color: var(--main-color);
  text-decoration: none;
  padding: 3px;
  position: relative;
}

a:hover {
  color: var(--text-color);
}

.container > .card, .grid_item {
  transition: 250ms ease-in-out;
}

.container > .card:hover, .grid_item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.btn {
  width: fit-content;
  margin: 40px auto 0 auto;
  padding: 15px 40px;
  border-radius: 50px;
  border: 2px solid var(--main-color);
  
  background-color: var(--main-color);
  color: var(--text-color);
  text-decoration: none;
  transition: 150ms ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: var(--main-color);
}

@media(max-width: 800px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: clamp(16px, 11vw, 100px);
  }

  h2 {
    font-size: clamp(16px, 8vw, 50px);
  }

  h3 {
    font-size: clamp(16px, 6vw, 30px);
  }

  p {
    text-align: left;
  }
}